<div *ngIf="(movies$ | async) as movies">
  <!-- <div *ngIf="regionsList.length !== 0"> -->
  <!-- <div class="container-fluid"> -->
  <h1 class="text-center details-title my-4">Manage Movies Page</h1>

  <div class="table-responsive text-center">
    <table class="table table-bordered main-table">
      <tr class="bg-dark text-white">
        <td>Image</td>
        <td>Name</td>
        <td>Description</td>
<!--        <td>{{'phone-number' | translate}}</td>-->
        <td>Created At</td>
        <td>Control</td>
      </tr>
      <tr *ngFor="let movie of movies">
        <td><img src="{{baseUrl + movie?.image}}" alt="{{movie?.name}} Image" class="img-thumbnail img-custom"></td>
        <td>{{movie?.name ? movie?.name : '-'}}</td>
        <td>{{movie?.description ? movie?.description : '-'}}</td>
<!--        <td>{{admin?.phoneNumber ? admin?.phoneNumber : '-'}}</td>-->
        <td>{{ movie.created_at ? (movie.created_at | date: 'yyyy-MM-dd') : '-'}}</td>
        <td>
          <a class="btn btn-success btn-sm mr-1 mb-1" routerLink="/edit/{{movie.id}}">
            Edit
          </a>
          <a (click)="delete(movie?.id)" class="btn btn-danger confirm btn-sm mr-1 mb-1 {{isDeleted ? 'disabled' : ''}}">
            Delete
          </a>
        </td>
      </tr>
    </table>
  </div>
</div>
<div *ngIf="!(movies$ | async)">
  <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
</div>

