<div class="w-100 mb-4" *ngIf="(movies$ | async) as movies">
  <div class="container">
    <h1 class="text-center my-4">All Movies</h1>
    <!--Start Latest Section-->
    <div class="latest mt-5">
      <div class="row">

        <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let movie of movies">
          <div class="card w-100 mb-4" style="width: 18rem;">
            <img class="card-img-top" src="{{baseUrl + movie.image}}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{movie.name}}</h5>
              <span class="card-subtitle mb-2 text-muted">{{movie.created_at  | date: 'yyyy-MM-dd'}}</span>
              <p class="card-text">{{movie.description}}</p>
            </div>
          </div>
        </div><!--.col-12-->

      </div><!--.row-->
    </div><!--.latest-->
  </div><!--.container-->
</div>
<div *ngIf="!(movies$ | async)">
  <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
</div>


<app-footer></app-footer>
